---
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIco from "../icons/Linkedin.astro";
import Githubico from "../icons/Github.astro";
import Layout from "../layouts/Layout.astro";
import MailIco from "../icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../icons/Briefcase.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Porfolio Orion, Desarrollador y Programador Web "
  description="Contrata a Orion, Desarrollador y Programador Web"
>
  <main>
    <SectionContainer class="py-30">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hey, soy orion
        <a
          class="flex justify-center items-center"
          href="https://linkedin.com/in/wilmanzuleta"
          target="_blank"><Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-2xl text-wrap pb-4">
        <span> +2 años de experiencia.</span>
        <span class="text-yellow-200/85">Desarrolador web de colombia.</span>
        <span class="opacity-70"
          >Expecializado en en crear aplicaciones unicas.</span
        >
      </h2>

      <nav class="flex gap-x-4">
        <SocialPill href="https://linkedin.com/in/wilmanzuleta">
          <LinkedinIco class="size-6" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://github.com/orionwilx">
          <Githubico class="size-6" />
          Github
        </SocialPill>
        <SocialPill href="mailto:wilman3d@gmail.com">
          <MailIco class="size-6" />
          wilman3d@hotmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2
        class="text-2xl font-semibold pb-4 flex flex-row gap-x-4 items-center"
      >
        <Briefcase class="size-7" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
