---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Deciembre 2024",
    title: "Desarrollador FullStack — Unimag CIDS",
    description:
      "Desarrollo y mantenimiento de APIs RESTful utilizando .NET Core.\n Integración de Entity Framework con bases de datos para garantizar la eficiencia y la integridad de los datos.\n Colaboración en equipos interdisciplinarios para el desarrollo de soluciones tecnológicas robustas.",
    link: "#",
  },
];
---

<ol class="relative border-s ml-3 border-gray-200 dark:border-gray-600">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
