<header
  class="flex justify-between items-center py-3 w-full xl:w-[1120px] mx-auto"
>
  <img
    class="rounded-full w-12 h-12"
    src="https://github.com/Orionwilx.png"
    alt="Portfolio wildev"
  />
  <nav class="flex flex-row gap-4 opacity-80">
    <a
      href="#experience"
      class="hover:focus:transform hover:scale-105 transition-transform duration-300 ease-in-out hover:text-yellow-200"
      >Experiencia</a
    >
    <a
      href="#projects"
      class="hover:focus:transform hover:scale-105 transition-transform duration-300 ease-in-out hover:text-yellow-200"
      >Proyectos</a
    >
    <a
      href="#about"
      class="hover:focus:transform hover:scale-105 transition-transform duration-300 ease-in-out hover:text-yellow-200"
      >Sobre mi</a
    >
    <a
      href="mailto:wilman3d@hotmail.com"
      class="hover:focus:transform hover:scale-105 transition-transform duration-300 ease-in-out hover:text-yellow-200"
      >Contacto</a
    >
  </nav>
</header>
