---
import Header from "../components/Header.astro";
import "../styles/global.css";
import "@fontsource/onest";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio Orion Programador y Desarrollador Web</title>
  </head>
  <body>
    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div
        class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
      >
      </div>
    </div>
    <Header />
    <slot />
  </body>

  <style>
    :root {
      color-scheme: light dark;
    }
    html {
      font-family: "Onest", sans-serif;
    }
    body {
      display: flex;
      flex-direction: column;
      background: #202020;
    }
  </style>
</html>
